body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
}

.subject-list {
  flex: 1;
  padding: 20px;
}

.subject-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

.subject-button:hover {
  background-color: #0056b3;
}

.subject-details {
  flex: 2;
  padding: 20px;
  border-left: 1px solid #ddd;
}
