body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
}

/* Menu Button Styles */
.menu-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 60px; /* Adjust the width to match the homepage menu button size */
  height: 40px; /* Adjust the height to match the homepage menu button size */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 2;
}

.menu-line {
  width: 60px; /* Adjust the width to match the homepage menu button size */
  height: 4px; /* Adjust the height to match the homepage menu button size */
  background-color: #444; /* Dark gray color */
}

/* Dropdown Menu Styles */
.dropdown-menu {
  position: absolute;
  top: 60px;
  right: 20px;
  display: none;
  flex-direction: column;
  background-color: #fff; /* White background color for the menu */
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adding a box shadow */
  z-index: 1;
}

.dropdown-item {
  padding: 8px 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #444; /* Dark gray color */
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Dropdown Menu Styles: Hover */
.dropdown-item:hover {
  background-color: #f1f1f1; /* Light gray background color on hover */
}

.course-list {
  flex: 1;
  padding: 20px;
}

.course-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.course-card:hover {
  background-color: #f1f1f1;
}

.course-details {
  flex: 2;
  padding: 20px;
  border-left: 1px solid #ddd;
}

#createCourseButton {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#createCourseButton:hover {
  background-color: #218838;
}

