body {
  margin: 0;
  padding: 0;
}

.floating-text {
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #888;
  animation: floatText 5s infinite;
}

@keyframes floatText {
  0% {
    transform: translate(var(--random-x1), var(--random-y1));
  }
  50% {
    transform: translate(var(--random-x2), var(--random-y2));
  }
  100% {
    transform: translate(var(--random-x3), var(--random-y3));
  }
}

