body {
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 72px;
  color: #444; /* Dark gray color */
  text-align: center;
  margin-top: 20vh; /* Adjust the value to position it higher */
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto;
}

.square-button {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  background-color: #444;
  border: none;
}
