body {
  background-color: #F2F2F2; /* Dark white color */
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: black;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

button {
  background-color: #4CAF50; /* Green color */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

