body {
  background-color: #111; /* Light black color */
  margin: 0;
  padding: 0;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: white;
}

input[type="password"],
button {
  background-color: #000; /* Light black color */
  color: white;
  border: none;
  padding: 10px;
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

/* Media Query for screens up to 600px (typical for mobile devices) */
@media (max-width: 600px) {
  h1 {
    font-size: 10vw; /* Increase the font size for the title on mobile */
    margin-bottom: 20px; /* Add some bottom margin for spacing */
  }

  input[type="password"],
  button {
    width: 90%; /* Increase the width of the input textbox and button for better readability */
    font-size: 6vw; /* Increase the font size for input textbox and button on mobile */
    padding: 14px; /* Increase the padding for better readability */
  }
}
