body {
  font-family: 'Montserrat', sans-serif;
  background-color: #111; /* Light black color */
  margin: 0;
  padding: 0;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: white;
  margin-bottom: 20px; /* Add some margin to separate from the form */
}

input[type="password"],
button {
  background-color: #000; /* Light black color */
  color: white;
  border: none;
  padding: 15px; /* Increase the padding for the input and button */
  margin: 10px 5px; /* Add margin at top and bottom, and a smaller margin at sides */
  font-family: 'Montserrat', sans-serif;
  font-size: 18px; /* Increase the font size for better visibility */
}

/* Media Query for screens up to 600px (typical for mobile devices) */
@media (max-width: 600px) {
  h1 {
    font-size: 8vw; /* Adjust the font size for smaller screens */
  }

  input[type="password"],
  button {
    padding: 10px; /* Adjust the padding for smaller screens */
    font-size: 4vw; /* Adjust the font size for smaller screens */
  }
}
